@font-face {
    font-family: YoungSerif;
    src: url(/assets/fonts/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: Oufitbold;
    src: url(/assets/fonts/Outfit-Bold.ttf);
}

@font-face {
    font-family: Outfitregular;
    src: url(/assets/fonts/Outfit-Regular.ttf);
}

body {
    background: #F3E5D7;
}

.background {
    background-color: white;
    border-radius: 24px;
    max-width: 740px;
}

/* title section */

.title {
    margin-top: 40px;
    margin-bottom: 30px;
}

.title h1 {
    font-family: YoungSerif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    color: #312E2C;
}

.title p {
    font-family: Outfitregular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #5F564D;
}

/* finished title section */

/* Preparation section */

.Preparation {
    padding: 28px;
}

.Preparation h3 {
    font-family: Oufitbold;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #7A284E;
    padding: 0;
}

.Preparation ul {
    display: grid;
    gap: 8px;
    margin: 0;
    margin-left: 10px;
}

.Preparation ul li strong {
    font-family: Oufitbold;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #5F564D;
}

.Preparation ul li p {
    font-family: Outfitregular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #5F564D;
}

.Preparation ul li {
    color: #7A284E;
}

/* finished Preparation section */

/* ingredients section */

.ingredients {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #E3DDD7;
}

.ingredients h3 {
    font-family: YoungSerif;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #854632;
}

.ingredients ul {
    margin-left: 24px;
}

.ingredients ul li {
    color: #854632;
}

.ingredients ul li p {
    font-family: Outfitregular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #5F564D;
}

/* finished ingredients */

/* instructions section */

.instructions {
    border-bottom: 1px solid #E3DDD7;

}

.instructions h3 {
    font-family: YoungSerif;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

    color: #854632;
}

.instructions ol {
    margin-left: 24px;
}

.instructions ol li {
    font-family: Oufitbold;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #854632;
}

.instructions ol li strong {
    font-family: Oufitbold;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #5F564D;
}

.instructions ol li p {
    font-family: Outfitregular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #5F564D;
}

/* finished instructions  */

.nutrition {
    display: grid;
    gap: 24px;
}

.nutrition h3 {
    font-family: YoungSerif;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #854632;
}

.nutrition p {
    font-family: Outfitregular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #5F564D;
}

.details{
    padding-left: 32px;
    gap: 24px;
    border-bottom: 1px solid #E3DDD7;
}

.details p:first-child {
    font-family: Outfitregular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #5F564D;
    max-width: 288px;
    width: 100%;
}

.details p{
    font-family: Oufitbold;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #854632;
    max-width: 288px;
    width: 100%;
}